extends include/_head
block append head
  -
    var pageTitle = 'Kontrol Paneli'
    var headTitle = pageTitle + pageTitleDesc
    var bodyClass = 'hold-transition login-page'
block body
  .login-page-after
    .login-box
      .login-box-body.text-center
        a(href='index.html')
            img(src='img/logo-akyar-insaat-01.png', alt='akyarinsaatlogo')
        hr
        p.login-box-msg Oturum Aç
        form(action='index.html', method='get')
          .form-group.has-feedback
            input.form-control(type='text', placeholder='Kullanıcı Adı')
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Parola')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-8
              .checkbox.icheck.pull-left
                label
                  input(type='checkbox')
                  |  Beni Hatırla
            .col-xs-4
              button.btn.btn-primary.ajax(type='submit') Giriş Yap
        hr
        .row
          .col-sm-6.col-xs-12
            a.text-center(href='kullanici-ekle.html') Parolamı unuttum
          .col-sm-6.col-xs-12
            a.text-center(href='kullanici-ekle.html') Yeni Kayıt Oluştur
  include include/_script
  script(type='text/javascript').
    $(document).ajaxStart(function () {
    Pace.restart()
    })
  script.
    $(function () {
    $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%'
    });
    });