extends include/_head
block append head
  -
    var pageTitle = 'Kontrol Paneli'
    var headTitle = pageTitle + pageTitleDesc
block body
  .wrapper
    include include/_header
    aside.main-sidebar
      section.sidebar
        .user-panel
          .pull-left.image
            img.img-circle(src='img/bahadirakca.jpg', alt='bahadirakca')
          .pull-left.info
            p Bahadır Akça
            a(href='profilim.html')
              i.fa.fa-circle.text-success
              span Aktif
        form.sidebar-form(action='#', method='get')
          .input-group
            input.form-control(type='text', name='searchform', placeholder='Arama yap...')
            span.input-group-btn
              button#search-btn.btn.btn-flat(type='submit', name='search')
                i.fa.fa-search
        ul.sidebar-menu(data-widget='tree')
          li.header MENÜLER
          li.active
            a(href='index.html')
              i.fa.fa-dashboard
              span Kontrol Paneli
          li
            a(href='meta-favicon-logo.html')
              i.fa.fa-globe
              span Meta, Favicon ve Logo
          li
            a(href='stil-ve-scriptler.html')
              i.fa.fa-terminal
              span Özel Stil ve Scriptler
          li.treeview
            a(href='#')
              i.fa.fa-group
              span Kurumsal Bilgiler
              span.pull-right-container
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='kurumsal-bilgiler.html')
                  i.fa.fa-circle-o
                  span Kurumsal Bilgiler
              li
                a(href='kurumsal-bilgiler-hakkimizda.html')
                  i.fa.fa-circle-o
                  span Hakkımızda
              li
                a(href='kurumsal-bilgiler-vizyonumuz.html')
                  i.fa.fa-circle-o
                  span Vizyonumuz
              li
                a(href='kurumsal-bilgiler-misyonumuz.html')
                  i.fa.fa-circle-o
                  span Misyonumuz
          li
            a(href='slider.html')
              i.fa.fa-play
              span Slider
          li
            a(href='hizmetlerimiz.html')
              i.fa.fa-th
              span Hizmetlerimiz
          li
            a(href='musteri-iletileri.html')
              i.fa.fa-commenting-o
              span Müşteri İletileri
          li
            a(href='galeri.html')
              i.fa.fa-file-image-o
              span Galeri
          li.treeview
            a(href='#')
              i.fa.fa-user
              span Kullanıcı Yönetimi
              span.pull-right-container
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='kullanici-yonetimi.html')
                  i.fa.fa-circle-o
                  span Kullanıcılar
              li
                a(href='kullanici-ekle.html')
                  i.fa.fa-circle-o
                  span Yeni Kullanıcı Ekle
              li
                a(href='profilim.html')
                  i.fa.fa-circle-o
                  span Profilim
    .content-wrapper
      section.content-header
        h1
          | Kontrol Paneli
          small Ayarlar
        ol.breadcrumb
          li.active
            a(href='index.html')
              i.fa.fa-dashboard
              |  Kontrol Paneli
      section.content
        #dash-section.row
          .col-lg-4.col-xs-12
            .info-box.bg-facebook
              span.info-box-icon
                i.fa.fa-facebook
              .info-box-content
                span.info-box-text Facebook Sayfanız
                span.info-box-number 1,410
                span.progress-description Beğeni
          .col-lg-4.col-xs-12
            .info-box.bg-instagram
              span.info-box-icon
                i.fa.fa-instagram
              .info-box-content
                span.info-box-text Instagram Sayfanız
                span.info-box-number 1,410
                span.progress-description Takipçi
          .col-lg-4.col-xs-12
            .info-box.bg-google-plus
              span.info-box-icon
                i.fa.fa-google-plus
              .info-box-content
                span.info-box-text Google+ Sayfanız
                span.info-box-number 1,410
                span.progress-description Takipçi
        #dash-section.row
          .col-lg-4.col-xs-12
            .info-box.bg-youtube
              span.info-box-icon
                i.fa.fa-youtube-play
              .info-box-content
                span.info-box-text YouTube Kanalınız
                span.info-box-number 1,410
                span.progress-description Takipçi
          .col-lg-4.col-xs-12
            .info-box.bg-twitter
              span.info-box-icon
                i.fa.fa-twitter
              .info-box-content
                span.info-box-text Twitter Hesabınız
                span.info-box-number 1,410
                span.progress-description Takipçi
          .col-lg-4.col-xs-12
            .info-box.bg-foursquare
              span.info-box-icon
                i.fa.fa-foursquare
              .info-box-content
                span.info-box-text Foursquare Hesabınız
                span.info-box-number 7.6/10
                span.progress-description 1.600 Puanlama
        #dash-section.row
          .col-lg-4.col-xs-12
            .info-box.bg-google-analytics
              span.info-box-icon
                i.fa.fa-user
              .info-box-content
                span.info-box-text Anlık Ziyaretçi Sayısı
                span.info-box-number 1,410
                span.progress-description Kişi
          .col-lg-4.col-xs-12
            .info-box.bg-google-analytics
              span.info-box-icon
                i.fa.fa-users
              .info-box-content
                span.info-box-text Toplam Ziyaretçi Sayısı
                span.info-box-number 1,410
                span.progress-description Kişi
          .col-lg-4.col-xs-12
            .info-box.bg-google-analytics
              span.info-box-icon
                i.fa.fa-flash
              .info-box-content
                span.info-box-text Toplam Sayfa Görüntüleme
                span.info-box-number 1,410
                span.progress-description Görüntüleme
        #dash-section.row
          .col-lg-3.col-xs-12
            a.btn.btn-app.btn-block.bg-gray(href="meta-favicon-logo.html")
              i.fa.fa-globe
              |  Meta, Favicon ve Logo Düzenle
          .col-lg-3.col-xs-12
            a.btn.btn-app.btn-block.bg-gray(href="stil-ve-scriptler.html")
              i.fa.fa-edit
              |  Özel Stil ve Scriptleri Düzenle
          .col-lg-3.col-xs-12
            a.btn.btn-app.btn-block.bg-gray(href="kurumsal-bilgiler.html")
              i.fa.fa-edit
              |  Kurumsal Bilgileri Düzenle
          .col-lg-3.col-xs-12
            a.btn.btn-app.btn-block.bg-gray(href="kullanici-ekle.html")
              i.fa.fa-user-plus
              |  Yeni Kullanıcı Ekle
    include include/_footer
    include include/_aside-right
    .control-sidebar-bg
  include include/_script
  script(type='text/javascript').
    $.widget.bridge('uibutton', $.ui.button);
  script.
    $.sessionTimeout({
    message: 'Oturumunuz bir dakika içinde kilitlenecektir.',
    keepAliveUrl: 'index.html',
    logoutUrl: 'girisyap.html',
    redirUrl: 'oturum-kilidi.html',
    warnAfter: 3000,
    redirAfter: 5000
    });