extends include/_head
block append head
  -
    var pageTitle = 'Vizyonumuz'
    var headTitle = pageTitle + pageTitleDesc
block body
  .wrapper
    include include/_header
    aside.main-sidebar
      section.sidebar
        .user-panel
          .pull-left.image
            img.img-circle(src='img/bahadirakca.jpg', alt='bahadirakca')
          .pull-left.info
            p Bahadır Akça
            a(href='profilim.html')
              i.fa.fa-circle.text-success
              span Aktif
        form.sidebar-form(action='#', method='get')
          .input-group
            input.form-control(type='text', name='searchform', placeholder='Arama yap...')
            span.input-group-btn
              button#search-btn.btn.btn-flat(type='submit', name='search')
                i.fa.fa-search
        ul.sidebar-menu(data-widget='tree')
          li.header MENÜLER
          li
            a(href='index.html')
              i.fa.fa-dashboard
              span Kontrol Paneli
          li
            a(href='meta-favicon-logo.html')
              i.fa.fa-globe
              span Meta, Favicon ve Logo
          li
            a(href='stil-ve-scriptler.html')
              i.fa.fa-terminal
              span Özel Stil ve Scriptler
          li.treeview
            a(href='#')
              i.fa.fa-group
              span Kurumsal Bilgiler
              span.pull-right-container
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='kurumsal-bilgiler.html')
                  i.fa.fa-circle-o
                  span Genel Bilgiler
              li
                a(href='kurumsal-bilgiler-hakkimizda.html')
                  i.fa.fa-circle-o
                  span Hakkımızda
              li.active
                a(href='kurumsal-bilgiler-vizyonumuz.html')
                  i.fa.fa-circle-o
                  span Vizyonumuz
              li
                a(href='kurumsal-bilgiler-misyonumuz.html')
                  i.fa.fa-circle-o
                  span Misyonumuz
          li
            a(href='slider.html')
              i.fa.fa-play
              span Slider
          li
            a(href='hizmetlerimiz.html')
              i.fa.fa-th
              span Hizmetlerimiz
          li
            a(href='musteri-iletileri.html')
              i.fa.fa-commenting-o
              span Müşteri İletileri
          li
            a(href='galeri.html')
              i.fa.fa-file-image-o
              span Galeri
          li.treeview
            a(href='#')
              i.fa.fa-user
              span Kullanıcı Yönetimi
              span.pull-right-container
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='kullanici-yonetimi.html')
                  i.fa.fa-circle-o
                  span Kullanıcılar
              li
                a(href='kullanici-ekle.html')
                  i.fa.fa-circle-o
                  span Yeni Kullanıcı Ekle
              li
                a(href='profilim.html')
                  i.fa.fa-circle-o
                  span Profilim
    .content-wrapper
      section.content-header
        h1
          | Kurumsal Bilgiler
          small Ayarları
        ol.breadcrumb
          li
            a(href='dashboard-01.html')
              i.fa.fa-dashboard
              |  Kontrol Paneli
          li
            a(href='kurumsal-bilgiler.html')
              i.fa.fa-group
              |  Kurumsal Bilgiler
          li.active Vizyonumuz
      section.content
        .row
          .col-sm-12.col-xs-12
            form(role='form')
              .box.box-solid
                .box-header.with-border
                  .col-sm-4.col-xs-12
                    h3.box-title Vizyonumuz
                  .col-sm-4.col-xs-12.text-center
                    p.ajax-content
                  .col-sm-4.col-xs-12.text-right
                    button.btn.btn-primary.ajax(type='submit') Kaydet
                .box-body.pad
                  .col-sm-3.col-xs-12
                    .form-group
                      label 01 - Öne çıkan resim
                  .col-sm-9.col-xs-12
                    .form-group
                      img.img-thumbnail.img-responsive(src='img/vizyonumuz.jpg', alt='vizyonumuz')
                    .form-group
                      input.form-control(type='text', placeholder='img/vizyonumuz.jpg', disabled='')
                    .form-group
                      label Önizleme
                      .fileinput.fileinput-new(data-provides='fileinput')
                        .fileinput-preview.thumbnail(data-trigger='fileinput', style='min-width: 200px; min-height: 150px;')
                        .input-group
                          span.input-group-addon.btn.btn-default.default.btn-file
                            span.fileinput-new  Resim Seç 
                            span.fileinput-exists  Değiştir 
                            input(type='file', name='...')
                          a.input-group-addon.btn.red.fileinput-exists(href='javascript:;', data-dismiss='fileinput')  Kaldır
                          .form-control.uneditable-input.input-fixed.input-medium(data-trigger='fileinput')
                            i.fa.fa-file.fileinput-exists
                            |
                            |
                            span.fileinput-filename
                      p.help-block
                        | *Resim boyutu 560x360 pixel ve .jpg ya da .png uzantılı olmalıdır.
                  .clearfix
                  hr
                  .col-sm-3.col-xs-12
                    .form-group
                      label 02 - İçerik
                  .col-sm-9.col-xs-12
                    .form-group
                      label Bölüm ile ilgili içerik ekleyin.
                      form
                        textarea#editor6(name='editor6', rows='15', cols='75')
                          | İçeriğinizi buraya yazın.
                .box-footer
                  .col-sm-4.col-xs-12
                    p.box-title Vizyonumuz
                  .col-sm-4.col-xs-12.text-center
                    p.ajax-content
                  .col-sm-4.col-xs-12.text-right
                    button.btn.btn-primary.ajax(type='submit') Kaydet
    include include/_footer
    include include/_aside-right
    .control-sidebar-bg
  include include/_script
  script(type='text/javascript').
    $.widget.bridge('uibutton', $.ui.button);
  script(type='text/javascript').
    $(function () {
    CKEDITOR.replace('editor6');
    })
  script(type='text/javascript').
    $(document).ajaxStart(function () {
    Pace.restart()
    })
    $('.ajax').click(function () {
    $.ajax({
    url: '#', success: function (result) {
    $('.ajax-content').html('İşlem tamam!')
    }
    })
    })
  script.
    $.sessionTimeout({
    message: 'Oturumunuz bir dakika içinde kilitlenecektir.',
    keepAliveUrl: 'index.html',
    logoutUrl: 'girisyap.html',
    redirUrl: 'oturum-kilidi.html',
    warnAfter: 3000,
    redirAfter: 5000
    });