extends include/_head
block append head
  -
    var pageTitle = 'Oturum Kilitli'
    var headTitle = pageTitle + pageTitleDesc
    var bodyClass = 'hold-transition lockscreen'
block body
  .lockscreen-after
    .lockscreen-wrapper
      .lockscreen-logo
        a(href='index.html')
              img(src='img/logo-akyar-insaat-01.png', alt='akyarinsaatlogo')
      .clearfix
      hr
      .lockscreen-name Bahadır Akça
      .lockscreen-item
        .lockscreen-image
          img(src='img/bahadirakca.jpg', alt='bahadirakca')
        form.lockscreen-credentials
          .input-group
            input.form-control(type='password', placeholder='Parola')
            .input-group-btn
              button.btn(type='button')
                i.fa.fa-arrow-right.text-muted
      .help-block.text-center
        | Oturum kilidini açmak için lütfen parolanızı girin.
      .text-center
        a(href='giris-yap.html') Ya da farklı bir kullanıcı olarak oturum aç
      .clearfix
      hr
      .lockscreen-footer.text-center
        h6 Copyright © 2013-2017 
          a(href='http://tarzyazilim.com.tr') Tarz Yazılım
        h6 Tüm hakları saklıdır.
  include include/_script