aside.control-sidebar.control-sidebar-dark
  ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
    li.active
      a(href='#control-sidebar-homes-tab', data-toggle='tab')
        i.fa.fa-flash
    li
      a(href='#control-sidebar-stats-tab', data-toggle='tab')
        i.fa.fa-paint-brush
  .tab-content
    #control-sidebar-homes-tab.tab-pane.fade.in.active
      h3.control-sidebar-heading Oturum Kayıtları
      ul.control-sidebar-menu
        li
          a(href='javascript:void(0)')
            i.menu-icon.fa.fa-sign-out.bg-red
              img.img-circle(src='img/aliihsansuna.jpg', alt='aliihsansuna')
            .menu-info
              h4.control-sidebar-subheading Ali İhsan Suna
              p Çıkış | 20:35 | 30/07/2017
        li
          a(href='javascript:void(0)')
            i.menu-icon.fa.fa-sign-in.bg-green
              img.img-circle(src='img/aliihsansuna.jpg', alt='aliihsansuna')
            .menu-info
              h4.control-sidebar-subheading Ali İhsan Suna
              p Giriş | 20:30 | 30/07/2017
        li
          a(href='javascript:void(0)')
            i.menu-icon.fa.fa-sign-out.bg-red
              img.img-circle(src='img/ahmetkoyun.jpg', alt='ahmetkoyun')
            .menu-info
              h4.control-sidebar-subheading Ahmet Koyun
              p Çıkış | 20:25 | 30/07/2017
        li
          a(href='javascript:void(0)')
            i.menu-icon.fa.fa-sign-in.bg-green
              img.img-circle(src='img/ahmetkoyun.jpg', alt='ahmetkoyun')
            .menu-info
              h4.control-sidebar-subheading Ahmet Koyun
              p Giriş | 20:20 | 30/07/2017
    #control-sidebar-stats-tab.tab-pane.fade
      div
        h4.control-sidebar-heading Kişiselleştirme
        .form-group
          label.control-sidebar-subheading
            input.pull-right(type='checkbox', data-layout='fixed')
            | Sabit Kenarlar
          p Üst, sağ ve sol kenarlar sabit
        .form-group
          label.control-sidebar-subheading
            input.pull-right(type='checkbox', data-layout='layout-boxed')
            |  Kutu Düzeni
          p Tam sayfadan kutu düzenine geç
        .form-group
          label.control-sidebar-subheading
            input.pull-right(type='checkbox', data-layout='sidebar-collapse')
            |  Ana Menüyü Aç/Kapat
          p Ana Menü kenarını aç ya da kapat
        .form-group
          label.control-sidebar-subheading
            input.pull-right(type='checkbox', data-enable='expandOnHover')
            |  Üzerine geldiğinde aç
          p Ana Menü küçük halde iken üzerine geldiğinde aç
        .form-group
          label.control-sidebar-subheading
            input.pull-right(type='checkbox', data-controlsidebar='control-sidebar-open')
            |  Sağ Menüyü Aç/Kapat
          p Sağ Menüyü her zaman göster ya da gösterme
        .form-group
          label.control-sidebar-subheading
            input.pull-right(type='checkbox', data-sidebarskin='toggle')
            |  Sağ Menü rengini değiştir
          p Sağ Menü rengini koyu ya da açık tema yap
        h4.control-sidebar-heading Temalar
        ul.list-unstyled.clearfix
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-orange', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span(style='display:block; width: 20%; float: left; height: 7px; background: #da4816')
                span.bg-orange(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222d32')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin Varsayılan
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-blue', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span(style='display:block; width: 20%; float: left; height: 7px; background: #367fa9')
                span.bg-light-blue(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222d32')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin 1
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-black', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              .clearfix(style='box-shadow: 0 0 2px rgba(0,0,0,0.1)')
                span(style='display:block; width: 20%; float: left; height: 7px; background: #fefefe')
                span(style='display:block; width: 80%; float: left; height: 7px; background: #fefefe')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin 2
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-purple', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-purple-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-purple(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222d32')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin 3
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-green', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-green-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-green(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222d32')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin 4
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-red', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-red-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-red(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222d32')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin 5
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-yellow', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-yellow-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-yellow(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #222d32')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin 6
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-orange-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-orange-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-orange(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 7
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-blue-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span(style='display:block; width: 20%; float: left; height: 7px; background: #367fa9')
                span.bg-light-blue(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 8
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-black-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              .clearfix(style='box-shadow: 0 0 2px rgba(0,0,0,0.1)')
                span(style='display:block; width: 20%; float: left; height: 7px; background: #fefefe')
                span(style='display:block; width: 80%; float: left; height: 7px; background: #fefefe')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 9
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-purple-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-purple-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-purple(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 10
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-green-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-green-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-green(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 11
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-red-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-red-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-red(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 12
          li(style='float:left; width: 33.33333%; padding: 5px;')
            a.clearfix.full-opacity-hover(href='javascript:void(0)', data-skin='skin-yellow-light', style='display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)')
              div
                span.bg-yellow-active(style='display:block; width: 20%; float: left; height: 7px;')
                span.bg-yellow(style='display:block; width: 80%; float: left; height: 7px;')
              div
                span(style='display:block; width: 20%; float: left; height: 20px; background: #f9fafc')
                span(style='display:block; width: 80%; float: left; height: 20px; background: #f4f5f7')
            p.text-center.no-margin(style='font-size: 12px') 13