aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        img.img-circle(src='img/bahadirakca.jpg', alt='bahadirakca')
      .pull-left.info
        p Bahadır Akça
        a(href='profilim.html')
          i.fa.fa-circle.text-success
          span Aktif
    form.sidebar-form(action='#', method='get')
      .input-group
        input.form-control(type='text', name='searchform', placeholder='Arama yap...')
        span.input-group-btn
          button#search-btn.btn.btn-flat(type='submit', name='search')
            i.fa.fa-search
    ul.sidebar-menu(data-widget='tree')
      li.header MENÜLER
      li
        a(href='index.html')
          i.fa.fa-dashboard
          span Kontrol Paneli
      li
        a(href='meta-favicon-logo.html')
          i.fa.fa-globe
          span Meta, Favicon ve Logo
      li
        a(href='stil-ve-scriptler.html')
          i.fa.fa-terminal
          span Özel Stil ve Scriptler
      li.treeview
        a(href='#')
          i.fa.fa-group
          span Kurumsal Bilgiler
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='kurumsal-bilgiler.html')
              i.fa.fa-circle-o
              span Genel Bilgiler
          li
            a(href='kurumsal-bilgiler-hakkimizda.html')
              i.fa.fa-circle-o
              span Hakkımızda
          li
            a(href='kurumsal-bilgiler-vizyonumuz.html')
              i.fa.fa-circle-o
              span Vizyonumuz
          li
            a(href='kurumsal-bilgiler-misyonumuz.html')
              i.fa.fa-circle-o
              span Misyonumuz
      li
        a(href='slider.html')
          i.fa.fa-play
          span Slider
      li
        a(href='hizmetlerimiz.html')
          i.fa.fa-th
          span Hizmetlerimiz
      li
        a(href='musteri-iletileri.html')
          i.fa.fa-commenting-o
          span Müşteri İletileri
      li
        a(href='galeri.html')
          i.fa.fa-file-image-o
          span Galeri
      li.treeview
        a(href='#')
          i.fa.fa-user
          span Kullanıcı Yönetimi
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='kullanici-yonetimi.html')
              i.fa.fa-circle-o
              span Kullanıcılar
          li
            a(href='kullanici-ekle.html')
              i.fa.fa-circle-o
              span Yeni Kullanıcı Ekle
          li
            a(href='profilim.html')
              i.fa.fa-circle-o
              span Profilim