header.main-header
  a.logo(href='index.html')
    span.logo-mini
      b NV
      | A
    span.logo-lg
      b Ninova
      | Admin
  nav.navbar.navbar-static-top
    a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            img.user-image(src='img/bahadirakca.jpg', alt='bahadirakca')
            span.hidden-xs Bahadır Akça
          ul.dropdown-menu
            li.user-header
              img.img-circle(src='img/bahadirakca.jpg', alt='bahadirakca')
              p
                | Bahadır Akça - Tarz Yazılım
                small Üyelik Tarihi 30/07/2017
            li.user-footer
              .pull-left
                a.btn.btn-default.btn-flat(href='profilim.html') Profilim
              .pull-right
                a.btn.btn-default.btn-flat(href='giris-yap.html') Çıkış Yap
        li
          a(href='index.html', target="_blank", data-toggle='tooltip', data-placement='bottom', title='Siteyi Görüntüle')
            i.fa.fa-external-link
        li
          a(href='#', data-toggle='control-sidebar')
            i.fa.fa-gears