//-	Block Head
//-	===========================================
block head
  -
    var pageTitle = 'Kontrol Paneli'
    var pageTitleDesc = ' | Ninova nvAdmin Web Uygulaması'
    var headTitle = pageTitle + pageTitleDesc
    var bodyClass = 'hold-transition skin-blue sidebar-mini control-sidebar-open'
doctype html
html(lang='en')
  head
    title #{headTitle}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    meta(name='description', content='Ninova nvAdmin Web Uygulaması')
    meta(name='keywords', content='creative, web, development')
    meta(name='author', content='yupagem')
    link(rel='icon', type='image/png', href='img/logo-akyar-insaat-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='img/logo-akyar-insaat-32x32.png', sizes='32x32')
    link(rel='apple-touch-icon', type='image/png', href='img/logo-akyar-insaat-180x180.png', sizes='180x180')
    link(rel='stylesheet', href='vendor/animate.css/animate.min.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/jasny-bootstrap/dist/css/jasny-bootstrap.min.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/Ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='vendor/izitoast/css/iziToast.min.css')
    link(rel='stylesheet', href='vendor/PACE/themes/white/pace-theme-flash.css')
    link(rel='stylesheet', href='vendor/morris.js/morris.css')
    link(rel='stylesheet', href='plugin/jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.css')
    link(rel='stylesheet', href='vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='vendor/bootstrap-daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href='vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css')
    link(rel='stylesheet', href='vendor/iCheck/skins/square/blue.css')
    link(rel='stylesheet', href='vendor/datatables.net-bs/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='css/app.min.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=latin-ext', rel='stylesheet')
  body(class=bodyClass)
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    block body