/* Write your custom CSS here */
.filigran-container {
  position: relative;
  margin:5px;
}

.filigran-image {
  display: block;
  height: 162.5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(128, 128, 128, 0.8);
}
.overlay-left{
  left: 0 !important;
  right: 50% !important;
  width: 50% !important;
  padding: 5px;
  border: 2px solid rgba(250, 250, 250, 0.5);
}
.overlay-right{
  left: 50% !important;
  right: 0 !important;
  width: 50% !important;
  padding: 5px;
  border: 2px solid rgba(250, 250, 250, 0.5);
}
  
.filigran-container:hover .overlay {
  opacity: 1;
}

.filigran-text {
  color: white;
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photo-add {
  margin: 5px;
  width: 260px;
  height: 160px;
  background: grey;
  font-size: 6em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}