/* Write your custom CSS here */

div.filigran {
  visibility: hidden;
  position: absolute;
  margin: 5px;
  left: 0;
  top: 0;
  z-index: 1;
  width: 260px;
  height: 167px;
  background: rgba(128, 128, 128, 0.8);
  font-size: 6em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.filigran:hover {
  visibility: visible !important;
}

.photo-add {
  margin: 5px;
  width: 260px;
  height: 160px;
  background: grey;
  font-size: 6em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}