// Carousel
// --------------------------------------------------

@import "mixins";
@import "variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";


.carousel-control {
  &.left,
  &.right {
    background-image: none;
  }
  > .fa {
    font-size: 40px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -20px;
  }
}
