// Form
// --------------------------------------------------

@import "mixins";
@import "variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";


.form-control {
  border-radius: $input-radius;
  box-shadow: none;
  border-color: $gray-lte;
  &:focus {
    border-color: $blue-light;
    box-shadow: none;
  }
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form-group {
  &.has-success {
    label {
      color: $green;
    }
    .form-control,
    .input-group-addon {
      border-color: $green;
      box-shadow: none;
    }
    .help-block {
      color: $green;
    }
  }

  &.has-warning {
    label {
      color: $yellow;
    }
    .form-control,
    .input-group-addon {
      border-color: $yellow;
      box-shadow: none;
    }
    .help-block {
      color: $yellow;
    }
  }

  &.has-error {
    label {
      color: $red;
    }
    .form-control,
    .input-group-addon {
      border-color: $red;
      box-shadow: none;
    }
    .help-block {
      color: $red;
    }
  }
}

/* Input group */
.input-group {
  .input-group-addon {
    border-radius: $input-radius;
  }
}

/* button groups */
.btn-group-vertical {
  .btn {
    &.btn-flat:first-of-type, &.btn-flat:last-of-type {
      @include border-radius(0, 0, 0, 0);
    }
  }
}

.icheck > label {
  padding-left: 0;
}

/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
  line-height: $input-height-base;
}

.input-lg + .form-control-feedback.fa,
.input-group-lg + .form-control-feedback.fa,
.form-group-lg .form-control + .form-control-feedback.fa {
  line-height: $input-height-large;
}

.input-sm + .form-control-feedback.fa,
.input-group-sm + .form-control-feedback.fa,
.form-group-sm .form-control + .form-control-feedback.fa {
  line-height: $input-height-small;
}

/* Custom File Input */
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
  }
}

.image-preview-input-title {
  margin-left: 2px;
}

.fileinput .thumbnail {
  background-color: #f5f5f5;
  padding: 10px;
  border: 2px dashed #ccc;
}