// Lock screen
// --------------------------------------------------

@import "mixins";
@import "variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";


.lockscreen {
  background-image: url("../img/back-01.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: bottom center;
  position: relative;
  display: block;
  z-index: 0;
  &-after {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba($blue-light, 0.5);
  }
}

.lockscreen-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  a {
    color: #444;
  }
}

.lockscreen-wrapper {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  background: rgba(#fff, 0.8);
  padding: 20px
}

/* User name [optional] */
.lockscreen .lockscreen-name {
  text-align: center;
  font-weight: 600;
}

/* Will contain the image and the sign in form */
.lockscreen-item {
  @include border-radius(4px, 4px, 4px, 4px);
  padding: 0;
  background: #fff;
  position: relative;
  margin: 10px auto 30px auto;
  width: 290px;
}

/* User image */
.lockscreen-image {
  @include border-radius(50%, 50%, 50%, 50%);
  position: absolute;
  left: -10px;
  top: -25px;
  background: #fff;
  padding: 5px;
  z-index: 10;
  > img {
    @include border-radius(50%, 50%, 50%, 50%);
    width: 70px;
    height: 70px;
  }
}

/* Contains the password input and the login button */
.lockscreen-credentials {
  margin-left: 70px;
  .form-control {
    border: 0;
  }
  .btn {
    background-color: #fff;
    border: 0;
    padding: 0 10px;
  }
}

.lockscreen-footer {
  margin-top: 10px;
}
